/* CSS Document */

body {
	font-family:'Gotham-Book', Verdana, sans-serif;
}

/* Font Face */

@font-face {
    font-family: 'Gotham-Black';
    src: url('../fonts/Gotham-Black.otf') format('opentype');
    src: local(Gotham-Black), url("../fonts/Gotham-Black.otf"); 
}
@font-face {
    font-family: 'Gotham-Book';
    src: url('../fonts/Gotham-Book.otf') format('opentype');
    src: local(Gotham-Book), url("../fonts/Gotham-Book.otf"); 
}
@font-face {
    font-family: 'Gotham-Medium';
    src: url('../fonts/Gotham-Medium.otf') format('opentype');
    src: local(Gotham-Medium), url("../fonts/Gotham-Medium.otf"); 
}


/* ---------- Header ---------- */


header {
	width: 100%;
	background: -moz-linear-gradient(top, #0000A0 10%, #09F 50%);
	background: -webkit-gradient(left top, left bottom, color-stop(10%, #0000A0), color-stop(50%, #09F));
	background: -webkit-linear-gradient(top, #0000A0 10%, #09F 50%);
	background: -o-linear-gradient(top, #0000A0 10%, #09F 50%);
	background: -ms-linear-gradient(top, #0000A0 10%, #09F 50%);
	background: linear-gradient(to bottom, #0000A0 10%, #09F 50%);
	position:relative;
	margin-right:auto;
	margin-left:auto;
}

h1,h2 {
    font-family: "Gotham-Medium", sans-serif;
}

/* ---------- encabezado ---------- */

#encabezado {
	width:100%;
	margin-right:auto;
	margin-left:auto;
	color:#FFF;
}

.logo {
	margin: 40px 10px 10px 30px;
	text-transform:uppercase;
}

.logo-bajada {
	margin: 40px 30px 10px 10px;
}

.logo-bajada h2 {
	text-transform:uppercase;
	font-weight:lighter;
}

/* ---------- menú principal ---------- */

nav{
	position:relative;
	display:block;
	width:70%;
	height:50px;
	padding: 20px 0;
	text-align:center;
	line-height:normal;
	z-index:1000;
    margin: 0 auto;
}

nav ul{
	padding:0;
	list-style:none;
	margin:0;
	text-transform:uppercase;
}

nav ul li{
	float:left;
}

nav ul li li{
	display:block;
	margin:0px 30px 0px 0px;
	padding:0;
	border:none;
	text-align:left;
	text-transform:none;
	font-size:1.1em;
}

li a {
    display: inline-block;
    color:#fff;
    padding: 20px 30px;
    text-decoration:none;
}
	
nav ul li a:hover {
	color:#006;
	font-size: 1.0em;
	font-weight:bold;
}

nav ul li li a{
	width:170px;
	padding:15px 15px;
	font-variant:small-caps;
	color:#333;
	background-color:#F4F4F4;
}

nav ul li li a:hover{
	color:#FFF;
	background-color:#E01B78;
}

nav ul ul{
	z-index:9999;
	position:absolute;
	left:-999em;
	height:auto;
	width:200px;
}

nav ul li:hover ul{
	left:auto;
	padding-top:0px;
}

nav li.last{
	margin:0;
	padding:0;
	border:none;
}


/* ---------- CUERPO ---------- */

/* ---------- introducción ---------- */

.iconos {
	text-align:center;
	margin-right:auto;
	margin-left:auto;
	padding-bottom:20px;
	padding-top:30px;
    color: #039;
}

.iconos i {
    margin: 0 3px;
}

.intro {
	width: 100%;
	margin-right:auto;
	margin-left:auto;
}

.intro article {
	width:50%;
	margin-right:auto;
	margin-left:auto;
	padding-top:50px;
}

.intro h2 {
	text-align:center;
	font-size:1.4em;
	font-variant:small-caps;
	margin-bottom:35px;
}

.intro p {
	font-size:0.9em;
	text-align:justify;
}

/* ---------- objetivos ---------- */

.destacado {
	width:30%;
    height: 100%;
	background-color:#039;
    position: absolute;
}

.destacado h2 {
	color:#FFF;
	font-size:0.95em;
	text-transform:uppercase;
	padding:120px 10px 140px 30px;
}

.objetivos {
	width:68%;
	background-color:#E2E2E2;
    padding: 30px 0 30px 32%;
	font-size:0.9em;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 0.3em;
    -moz-column-gap: 0.3em;
    column-gap: 0.3em;
}

.objetivos p {
    padding: 0 30px;
    text-align: justify;
    word-spacing: -1px;
}

.objetivos p:before {
    content: "\f00c";
    font-family: FontAwesome;
    margin-left: -25px;
    left: -5px;
    position: relative;
    display: inline-block;
    color: #039;
}

.objetivos p:first-child {
    margin-top: 0;
}

/* -------- Sections --------- */

.enseniar-educacion-vial {
    position: relative;
}

.niveles {
    height: 220px;
    width: 50%;
    float: left;
}

.titulos {
	color:#FFF;
	font-size:1.3em;
	text-align:left;
	padding:30px;
	font-variant:small-caps;
	font-weight:lighter;
	letter-spacing: 0.06em;
}

.inicial {
	position:relative;
	background-color:#606;
}

.inicial:hover {
	background: -moz-linear-gradient(top, #9929A9 5%, #606 50%);
	background: -webkit-gradient(left top, left bottom, color-stop(5%, #9929A9), color-stop(50%, #606));
	background: -webkit-linear-gradient(top, #9929A9 5%, #606 50%);
	background: -o-linear-gradient(top, #9929A9 5%, #606 50%);
	background: -ms-linear-gradient(top, #9929A9 5%, #606 50%);
	background: linear-gradient(to bottom, #9929A9 5%, #606 50%);
}

.info-niveles {
	float:left;
	position:relative;
	padding:35px 30px 40px 30px;
	font-size:0.8em;
	margin-top:0px;
	margin-bottom:0px;
	background-color:#EAEAEA;
}

.primerciclo {
	position:relative;
	background-color:#09F;
}

.primerciclo:hover{
	background: -moz-linear-gradient(top, #68CCDD 5%, #09F 50%);
	background: -webkit-gradient(left top, left bottom, color-stop(5%, #68CCDD), color-stop(50%, #09F));
	background: -webkit-linear-gradient(top, #68CCDD 5%, #09F 50%);
	background: -o-linear-gradient(top, #68CCDD 5%, #09F 50%);
	background: -ms-linear-gradient(top, #68CCDD 5%, #09F 50%);
	background: linear-gradient(to bottom, #68CCDD 5%, #09F 50%);
}

.segundociclo {
	position:relative;
	background-color:#E01B78;
}

.segundociclo:hover{
	background: -moz-linear-gradient(top, #EB52B1 5%, #E01B78 50%);
	background: -webkit-gradient(left top, left bottom, color-stop(5%, #EB52B1), color-stop(50%, #E01B78));
	background: -webkit-linear-gradient(top, #EB52B1 5%, #E01B78 50%);
	background: -o-linear-gradient(top, #EB52B1 5%, #E01B78 50%);
	background: -ms-linear-gradient(top, #EB52B1 5%, #E01B78 50%);
	background: linear-gradient(to bottom, #EB52B1 5%, #E01B78 50%);
}

.educacionvial {
	position:relative;
	background-color:#039;
}


.videos {
	width:100%;
	float:left;
	background-color:#000;
	height:40%; /* -- sacar height cuando ponga los videos -- */
	background:
	radial-gradient(black 15%, transparent 16%) 0 0,
	radial-gradient(black 15%, transparent 16%) 8px 8px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color: #000;
	background-size:16px 16px;
}

.videos h1 {
	text-align:center;
	margin-right:auto;
	margin-left:auto;
	color:#FFF;
	font-size:1.3em;
	padding:40px 10px 10px 10px;
	font-variant:small-caps;
	font-weight:lighter;
	letter-spacing: 0.06em;
}

.videos p {
	color:#FFF;
	margin-right:auto;
	margin-right:auto;
	padding:10px 80px 20px 80px;
}
  
/* ---------- footer ---------- */

footer {
	background:#039;
  	clear: both;	
	padding: 10px 25px;
	margin:auto;
	color: #fff;		
}

footer p {
	font-size:0.8em;
}


/* ---------- Flechas ---------- */

.caret:before {
    content: "";
    position: absolute;
    bottom: -23px;
    left: 70px;
    width: 0;
    height: 0;
    border-width: 25px 25px 0;
    border-style: solid;  
    z-index:10;
}

.abajo-derechainicial:before {
    border-color: #606 transparent transparent;
}
			
.abajo-derechaprimero:before {
    border-color: #09F transparent transparent;
}		

.abajo-derechasegundo:before {
    border-color: #E01B78 transparent transparent;
}				
				

/* ---------- Helper Classes ---------- */

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.gray {
	background-color:#E2E2E2;
}

.blue {
	color:#039;
}

.violet {
	color:#606;
}

pink {
	color:#E01B78;
}

light-blue {
	color:#09F;
}

/* ---------- clear ---------- */

.cf:before,
.cf:after {
    content: ""; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/* ---------- efectos ---------- */

.img {
    display: block;
    margin: 0 auto;
    width: 100%;
    opacity: 0.9;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.8, transparent), to(rgba(0,0,0,0.1)));
}
 
.img:hover {
    opacity: 1;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.8, transparent), to(rgba(0,0,0,0.4)));
    -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
    -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
    box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
}

.grow {
  display: inline-block;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 0.5px rgba(0, 0, 0, 0);
  z-index:10;
}

.grow:hover {
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
}


/* ---------- botones ---------- */
 
.btn {
	background:#3498db;
	background-image:-webkit-linear-gradient(top,#3498db,#2980b9);
	background-image:-moz-linear-gradient(top,#3498db,#2980b9);
	background-image:-ms-linear-gradient(top,#3498db,#2980b9);
	background-image:-o-linear-gradient(top,#3498db,#2980b9);
	background-image:linear-gradient(to bottom,#3498db,#2980b9);
	-webkit-border-radius:0;
	-moz-border-radius:0px;
	border-radius:0px;
	font-family:Verdana, Geneva, sans-serif;
	font-variant:small-caps;
	letter-spacing: 0.2em;
	text-align:center;
	color:#fff;
	font-size:1.2em;
	padding:10px 20px 10px 20px;
	text-decoration:none;
	margin-left:30px;
	margin-right:30px;
}

.btn:hover {
	background:#3cb0fd;
	background-image:-webkit-linear-gradient(top,#3cb0fd,#3498db);
	background-image:-moz-linear-gradient(top,##3cb0fd,#3498db);
	background-image:-ms-linear-gradient(top,#3cb0fd,#3498db);
	background-image:-o-linear-gradient(top,#3cb0fd,#3498db);
	background-image:linear-gradient(to bottom,#3cb0fd,#3498db);
}

/* ---------- para qué, qué, cómo ---------- */

.para {
	width:28.87%;
	float:left;
	background-color:#6421A0;
	position:relative;
	padding:30px;
}



